@import play.api.i18n.Messages
@import play.api.libs.json._
@import play.api.libs.json.Json._
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(user: models.User, clusterName: String, toolId: String,deploymentForm: Form[DeploymentFormData])(implicit request: RequestHeader, messages: Messages,
        webJarsUtil: WebJarsUtil, assets: AssetsFinder, clusters: ClusterConfigs)

@main(messages("deploymentInfo.title"), Some(user), Some(clusterName)) {
    <div class="container">
    @helper.form(action = routes.ToolsController.deployToolToCluster(clusterName, toolId)) {
        @helper.CSRF.formField
        @helper.inputText(deploymentForm("serviceName"), '_label -> "Service Name")
        @helper.inputText(deploymentForm("minInstances"), '_label -> "Min Instances", '_showConstraints -> false, 'size -> 4)
        @helper.inputText(deploymentForm("maxInstances"), '_label -> "Max Instances", '_showConstraints -> false, 'size -> 4)
        @helper.inputText(deploymentForm("memoryLimit"), '_label -> "Memory", '_showConstraints -> false, '_help->"GBytes", 'size -> 4)
        @helper.inputText(deploymentForm("cpuLimit"), '_label -> "CPU Limit", '_showConstraints -> false, '_help->"Cores", 'size -> 4)

        <input type="hidden" name="toolId" value='@deploymentForm("toolId").value' >
        <input type="hidden" name="queueName" value='@deploymentForm("queueName").value' >
        <input type="hidden" name="dockerImageName" value='@deploymentForm("dockerImageName").value' >
        <input type="hidden" name="toolType" value='@deploymentForm("toolType").value' >

        <button id="submit" type="submit" class="btn btn-primary">Deploy </button>

    }
    </div>
}