@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(user: models.User, projects: List[Project], cluster: Option[String])(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil,
        assets: AssetsFinder, clusters: ClusterConfigs)

@main(messages("home.title"), Some(user), cluster) {
    <div id="exTab2" class="container">
        <ul class="nav nav-tabs">
            <li class = "active">
                <a  href="#1" data-toggle="tab">Tools</a>
            </li>
            <li><a href="#2" data-toggle="tab">Projects</a>
            </li>
        </ul>

        <div class="tab-content ">
            <div class="tab-pane active" id="1">
                <div class="col-xs-12" style="height:5px;"></div>
                <a href='@routes.ToolsController.chooseTool(cluster.get)' class="btn btn-primary" role="button">Deploy...</a>
                <div class="col-xs-12" style="height:10px;"></div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tool</th>
                            <th>Type</th>
                            <th>Instances</th>
                            <th>Jobs</th>
                            <th>Message Rate In</th>
                            <th>Message Rate Out</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="2">
                <br/>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Type</th>
                            <th>Tools</th>
                            <th>Message Rate In</th>
                            <th>Message Rate Out</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(project <- projects){
                            <tr>
                                <td>@project.name</td>
                                <td>@project.toolType.toString</td>
                                <td>10</td>
                                <td>500</td>
                                <td>476</td>
                                <td>
                                    @if(project.toolType.toString.equals("Extractor")) {
                                        <a href='@routes.ProjectsController.showBindingsForProject(cluster.get, project.name)'> <div title="Bind to tools" class="ion-link"> </div></a>
                                    }else{
                                        <div title="Bind to tools" style="color:#d1e0e0" class="ion-link" > </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
}
