@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry

@( socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil,
        assets: AssetsFinder, clusters: ClusterConfigs)

@main(messages("sign.in.title")) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@messages("sign.in.credentials")</legend>

        @if(socialProviders.providers.nonEmpty) {
            <div class="social-providers">
                <p>@messages("or.use.social")</p>
                <div>
                @for(p <- socialProviders.providers) {
                    <a href="@controllers.routes.SocialAuthController.authenticate(p.id)" class="provider @p.id" title="@messages(p.id)"><img src="@assets.path(s"images/providers/${p.id}.png")" width="64px" height="64px" alt="@messages(p.id)"></a>
                }
                </div>
            </div>
        }

    </fieldset>
}
